[submodule "src/test/resources/datasift-client-tests"]
	path = src/test/resources/datasift-client-tests
	url = https://github.com/datasift/datasift-client-tests.git
[submodule "src/test/java/com/datasift/client/behaviour"]
	path = src/test/java/com/datasift/client/behaviour
	url = https://github.com/datasift/datasift-client-tests.git
